// Colors
// --------------------------------------------------
$dark: #3c2f2f;
$light: #fff4e6;

$accent-dark: #854442;
$accent-light: #be9b7b;

$blue: #0057e7;

$light-overlay: rgba(255, 255, 255, 0.5);
$dark-overlay: rgba(0, 0, 0, 0.2);

// Spacing & sizes
// --------------------------------------------------
$topbar-height: 3rem;
$icon-size: 2.5rem;
$radius: 0.5rem;

// Shadows
// --------------------------------------------------
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
